<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        ​<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       <center> <h1 class="lead">CHART</h1>
      <!-- chart.html -->
<img class="img-fluid" src="{% static 'images/chart1.png' %}" alt="JSON Data Visualization">
<br><br>
<a href= "{% url 'visualize:chart2' %}" ><button type="button" class="btn btn-primary">NEXT <i class="fa fa-angle-double-right"></i></button></a> <br><br>
​<button class="btn btn-primary" onclick="history.back()"><i class="fa fa-angle-double-left"></i> PREVIOUS</button>
       <br><br>
      
     
</center>
        <script src="" async defer></script>
    </body>
</html>